.sidebarContainer {
    min-width: 190px;
    height: 100%;
}

.btn {
    text-align: center;
    color: aliceblue;
    background-color: unset;
    border: unset;
}

.container {
    margin: 32px 32px;
}

.container h1 {
    font-weight: lighter;
    margin-bottom: 24px;
}

.container h3 {
    margin: 24px 0px;
}

.line {
    border-top: 1px solid rgba(245, 245, 245, 0.696);
    margin: 12px 0px;
}

.enum {
    color: rgb(169, 169, 0);
    font-weight: normal;
}